<a href="https://colab.research.google.com/github/Arianugraha/Aria-Code-versi-2/blob/main/ETL_Pipelines.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

# Extract

Extract CSV

In [ ]:
df_projects = pd.read_csv('projects_data.csv', dtype = "str")

In [ ]:
df_projects.head() #5 Baris teratas

,id,regionname,countryname,prodline,lendinginstr,lendinginstrtype,envassesmentcategorycode,supplementprojectflg,productlinetype,projectstatusdisplay,...,mjtheme3name,mjtheme4name,mjtheme5name,location,GeoLocID,GeoLocName,Latitude,Longitude,Country,Unnamed: 56
0,P162228,Other,World;World,RE,Investment Project Financing,IN,C,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,P163962,Africa,Democratic Republic of the Congo;Democratic Re...,PE,Investment Project Financing,IN,B,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,P167672,South Asia,People's Republic of Bangladesh;People's Repub...,PE,Investment Project Financing,IN,NaN,Y,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,P158768,South Asia,Islamic Republic of Afghanistan;Islamic Repu...,PE,Investment Project Financing,IN,A,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,P161364,Africa,Federal Republic of Nigeria;Federal Republic o...,PE,Investment Project Financing,IN,B,N,L,Active,...,NaN,NaN,NaN,0002327546!$!Ogun State!$!7!$!3.58333!$!NG;000...,0002327546;0002328925;0002565340;0002565343;00...,Ogun State;Niger State;Abia State;Edo;Kebbi St...,7;10;5.41667;6.5;11.5;8,3.58333;6;7.5;6;4;10.5,NG;NG;NG;NG;NG;NG,NaN

In [ ]:
df_projects.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18248 entries, 0 to 18247
Data columns (total 57 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        18248 non-null  object
 1   regionname                18248 non-null  object
 2   countryname               18248 non-null  object
 3   prodline                  18248 non-null  object
 4   lendinginstr              18002 non-null  object
 5   lendinginstrtype          18002 non-null  object
 6   envassesmentcategorycode  12437 non-null  object
 7   supplementprojectflg      18195 non-null  object
 8   productlinetype           18248 non-null  object
 9   projectstatusdisplay      18244 non-null  object
 10  status                    18244 non-null  object
 11  project_name              18248 non-null  object
 12  boardapprovaldate         16744 non-null  object
 13  board_approval_month      16744 non-null  object
 14  closingdate               14899 non-null  object
 15  lendprojectcost           18123 non-null  object
 16  ibrdcommamt               18248 non-null  object
 17  idacommamt                18248 non-null  object
 18  totalamt                  18248 non-null  object
 19  grantamt                  18248 non-null  object
 20  borrower                  12329 non-null  object
 21  impagency                 12151 non-null  object
 22  url                       18248 non-null  object
 23  projectdoc                0 non-null      object
 24  majorsector_percent       0 non-null      object
 25  sector1                   18248 non-null  object
 26  sector2                   9527 non-null   object
 27  sector3                   6487 non-null   object
 28  sector4                   4376 non-null   object
 29  sector5                   2713 non-null   object
 30  sector                    17610 non-null  object
 31  mjsector1                 0 non-null      object
 32  mjsector2                 0 non-null      object
 33  mjsector3                 0 non-null      object
 34  mjsector4                 0 non-null      object
 35  mjsector5                 0 non-null      object
 36  mjsector                  17610 non-null  object
 37  theme1                    18248 non-null  object
 38  theme2                    9853 non-null   object
 39  theme3                    7484 non-null   object
 40  theme4                    5234 non-null   object
 41  theme5                    2928 non-null   object
 42  theme                     0 non-null      object
 43  goal                      12133 non-null  object
 44  financier                 7060 non-null   object
 45  mjtheme1name              0 non-null      object
 46  mjtheme2name              0 non-null      object
 47  mjtheme3name              0 non-null      object
 48  mjtheme4name              0 non-null      object
 49  mjtheme5name              0 non-null      object
 50  location                  4326 non-null   object
 51  GeoLocID                  4326 non-null   object
 52  GeoLocName                4325 non-null   object
 53  Latitude                  4326 non-null   object
 54  Longitude                 4326 non-null   object
 55  Country                   4203 non-null   object
 56  Unnamed: 56               0 non-null      object
dtypes: object(57)
memory usage: 7.9+ MB

In [ ]:
df_projects.isnull().sum().sort_values(ascending = False)

Unnamed: 56                 18248
mjtheme3name                18248
mjsector1                   18248
mjsector2                   18248
mjsector3                   18248
mjsector4                   18248
mjsector5                   18248
theme                       18248
mjtheme1name                18248
projectdoc                  18248
mjtheme2name                18248
mjtheme4name                18248
mjtheme5name                18248
majorsector_percent         18248
sector5                     15535
theme5                      15320
Country                     14045
GeoLocName                  13923
location                    13922
GeoLocID                    13922
Latitude                    13922
Longitude                   13922
sector4                     13872
theme4                      13014
sector3                     11761
financier                   11188
theme3                      10764
sector2                      8721
theme2                       8395
goal                         6115
impagency                    6097
borrower                     5919
envassesmentcategorycode     5811
closingdate                  3349
boardapprovaldate            1504
board_approval_month         1504
sector                        638
mjsector                      638
lendinginstrtype              246
lendinginstr                  246
lendprojectcost               125
supplementprojectflg           53
status                          4
projectstatusdisplay            4
productlinetype                 0
prodline                        0
countryname                     0
url                             0
project_name                    0
theme1                          0
ibrdcommamt                     0
idacommamt                      0
totalamt                        0
grantamt                        0
regionname                      0
sector1                         0
id                              0
dtype: int64

In [ ]:
df_projects.shape

(18248, 57)

In [ ]:
df_projects.drop('Unnamed: 56', axis = 1, inplace = True)

In [ ]:
df_projects.columns

Index(['id', 'regionname', 'countryname', 'prodline', 'lendinginstr',
       'lendinginstrtype', 'envassesmentcategorycode', 'supplementprojectflg',
       'productlinetype', 'projectstatusdisplay', 'status', 'project_name',
       'boardapprovaldate', 'board_approval_month', 'closingdate',
       'lendprojectcost', 'ibrdcommamt', 'idacommamt', 'totalamt', 'grantamt',
       'borrower', 'impagency', 'url', 'projectdoc ', 'majorsector_percent ',
       'sector1', 'sector2', 'sector3', 'sector4', 'sector5', 'sector',
       'mjsector1', 'mjsector2', 'mjsector3', 'mjsector4', 'mjsector5',
       'mjsector', 'theme1', 'theme2', 'theme3', 'theme4', 'theme5', 'theme ',
       'goal', 'financier', 'mjtheme1name', 'mjtheme2name', 'mjtheme3name',
       'mjtheme4name', 'mjtheme5name', 'location', 'GeoLocID', 'GeoLocName',
       'Latitude', 'Longitude', 'Country'],
      dtype='object')

### Extract JSON

In [ ]:
df_json = pd.read_json('population_data.json', orient = 'records')

In [ ]:
df_json.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,...,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0,105264.0
1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,9938414.0,...,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0
2,Angola,AGO,"Population, total",SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,6203299.0,...,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0,29784193.0
3,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0
4,Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,...,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0,76965.0

### Extract XML

In [ ]:
!pip install bs4

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: bs4 in /usr/local/lib/python3.7/dist-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from bs4) (4.6.3)

In [ ]:
from bs4 import BeautifulSoup

In [ ]:
with open("population_data.xml") as fp: 
  soup = BeautifulSoup(fp, "lxml")

In [ ]:
i = 0
for record in soup.find_all('record'):
  i += 1
  for record in record.find_all('field'):
    print(record['name'], ':', record.text)
  print()
  if i == 5:
    break

Country or Area : Aruba
Item : Population, total
Year : 1960
Value : 54211

Country or Area : Aruba
Item : Population, total
Year : 1961
Value : 55438

Country or Area : Aruba
Item : Population, total
Year : 1962
Value : 56225

Country or Area : Aruba
Item : Population, total
Year : 1963
Value : 56695

Country or Area : Aruba
Item : Population, total
Year : 1964
Value : 57032

### Extract Database

In [ ]:
import sqlite3

In [ ]:
#connection to database
conn = sqlite3.connect('population_data.db')

In [ ]:
#run a query
pd.read_sql('SELECT * FROM ')